<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    {% block titulo %}
    {% endblock %}


<!-- Top navigation -->
<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <a href="/" class="active">Home</a>
  </div>

  <!-- Left-aligned links (default) -->
  <a href="login">Login</a>
  <a href="registo">Registo</a>

  <!-- Right-aligned links -->
  <div class="topnav-right">
    <a href="newpass">Nova Passe</a>
    <a href="apagar">Apagar</a>
  </div>

</div>
<br>


{% block conteudo %}
{% endblock %}
</head>

<body>
</body>
<center>
    <h3>&copy; Mateus Quintela 2019 </h3>
</center>
</html>

